QMainWindow {
    background-color: rgb(152, 166, 180);
}
QLineEdit {
    background-color: rgb(194, 197, 201);
    border: 1px solid black;
    font-size: 14px;
    width: 40px;
    height: 25px;
}
QTextEdit {
    background-color: rgb(194, 197, 201);
    border: 1px solid black;
    font-size: 14px;
    width: 40px;
    height: 25px;
}
QListWidget{
    background-color: rgb(194, 197, 201);
    border: 1px solid black;
    font-size: 14px;
    width: 40px;
    height: 25px;
}
